<tr>
    <td>1</td>
    <td>Usernmae</td>
    <td>example@gmail.com</td>
    <td>Male</td>
    <td>Active</td>
    <td>
        <a href="#" class="btn border-shadow update btn-success">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></a>
            <a  class="btn border-shadow delette btn-danger">
                <span class="text-gradient"><i class="fas fa-times"></i></span></a>
                 
    </td>
</tr>